
.main__header{

width: 100vw;
height: 100vh;
display: grid;
place-items: center;
margin-top : 3rem;
}

.main__header-container{

height: 100%;
display: grid;
grid-template-columns: 1fr, 1fr;
align-items: center;
justify-content: space-between;
gap : 6rem;

}

.main__header-left{

margin-top : -3rem;

}

.main__header-left h4{

    margin-bottom : 1rem;
    color :var(--color-secondary);
    font-weight: 400;
}

.main__header-left p {

margin: 1rem 0 3.5rem;
font-size : 1.1rem;

}


.main__header-right{

display: grid;
place-items: center;
position: relative;
}

.main__header-image{

    position: relative;
}

.main__header-right:hover .main__header-circle{

    filter: blur(15px);
}

/* =========================PROGRAMS==================== */

.programs{

    margin-top : 4rem;

}

.programs__wrapper{

display: grid;
grid-template-columns: repeat(4, 1fr);
gap : 3rem;
margin-top: 4rem;

}

.programs__program a {

margin-top: 2.5rem;
display : flex;
align-items: center;
justify-content: center;

}


.programs__program:hover a{

background: var(--color-secondary);
color : rgb(73, 72, 72);
}


/* =========================VALUES==================== */

.values__container{

display: grid;
grid-template-columns: 38% 50%;


}

.values__image {

filter: saturate(0.25);
transition: var(--transition);

}

.values__image:hover{


filter : saturate(1);

}

.values__right >p{

margin: 1.5rem 0 5rem;

grid-template-columns: 1fr 1fr;
gap:  3.4rem 2.4rem;
}


.values__wrapper{

display: grid;
grid-template-columns: 1fr 1fr;
gap:  3.4rem 2.4rem;
}

.card.value__value{

padding-top: 3.5rem;
text-align: left;
position: relative;



}

.card.value__value span{

position :absolute;
top : -1.5rem;

}


/* =========================VALUES==================== */
.faqs__container{

margin-top: 4rem ;
display: grid;
grid-template-columns:  1fr 1fr;
gap : 1.5 rem 5rem;
align-items: flex-start;

}

.faq {

background: rgb(85, 2, 145);;
padding: 2rem;
border-radius: 1rem;
cursor: pointer;

}

.faq div{

display: flex;
justify-content: space-between;
align-items:  center;


}

.faq__icon{

background: transparent ;
color :rgb(94, 93, 93);
font-size : 1.5rem; 
}

.faq p {

margin-top : 1.5rem;

}




/* =====================TESTIMONIALS======================== */

.testimonials {

width: 50rem;
margin-inline: auto;


}

.testimonials__head{

    position: relative;
text-align: left;
margin-top: 5rem;



}

.testimonial__avatar{

width: 4rem;
height: 4rem;
border-radius: 1.5rem;
overflow : hidden;
position: absolute;
top: -2rem;
left : calc(50% - 2rem);
box-shadow:  0 1.5rem 2rem rgb(26, 26, 54, 0.4);
transition: var(--transition);



}