nav {
    height: 5rem;
    width: 100vw;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* only shows on medium and small screens */
.nav__toggle-btn {
    display: none;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 7rem;
    display: block;
}

.nav__links {
    display: flex;
    gap: 3.5rem;
    align-items: center;
    /* this 100% height was added outside tutorial */
    height: 100%;
}

.nav__links li {
    /* this code below was added outside tutorial */
    height: 100%;
}

.nav__links a {
    transition: var(--transition);
    /* This 100% height was added outside tutorial */
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__links a:hover {
    color: var(--color-secondary);
}

.active-nav {
    position: relative;
}





/* MEDIA QUERIES (medium and small screens) */
@media screen and (max-width: 1024px) {
    .nav__toggle-btn {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav__toggle-btn svg {
        color: var(--color-gray-100);
    }

    .nav__links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }

}