
*, *::before, *::after{

margin: 0;
padding:  0;
border: 0;
outline: 0;
list-style: none;
text-decoration:  none;
box-sizing: border-box ;
}
/* 전체 적용 */


:root {


    --primary-hue: 210;
    --color-primary: hsl(var(--primary-hue), 
100%, 80%);
--color-gray: 


/* 사용자 지정 css */

--container-width-lg: 80%;
--container-width-md: 90%;
--transition: all 500ms ease; 


    }
    
body{
   font-family: 'Noto Sans Korean', sans-serif ;
   font-family: 'Montserrat', sans-serif; 
   color : rgb(248, 0, 12);
   line-height: 2;
   overflow-x: hidden;
   background-color: indigo;
}



.container{

width: var(--container-width-lg);
max-width: 1920px;
margin-inline: auto;
}

h1, h2, h3, h4, h5{

line-height: 1.2;
color: black

}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

a {
    color: brown;
}

/* 글자색 */


img{
display: block;
object-fit: cover;
width: 100%;

}